<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>菜品列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
</head>

<body>
    <form class="layui-form" action="" method="post">
        <div class="layui-fluid">
            <div class="layui-row">
                <div class="layui-col">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            <strong>修改密码.....</strong>
                        </div>
                        <div class="layui-card-body" style="text-align:center">
                            <div class="demoTable">
                                名称：
                                <div class="layui-inline">
                                    <input class="layui-input" name="userName" id="userName" autocomplete="off"
                                        readonly='readonly'>
                                </div>
                            </div>
                            <div class="demoTable">
                                原密码：
                                <div class="layui-inline">
                                    <input class="layui-input" name="oldpassword" id="oldpassword" autocomplete="off"
                                        type="password">
                                    <input class="layui-input" name="oldpassword1" id="oldpassword1" autocomplete="off"
                                        type="hidden" type="password">
                                </div>
                            </div>
                            <div class="demoTable">
                                修改密码：
                                <div class="layui-inline">
                                    <input class="layui-input" name="password" id="newpassword" autocomplete="off"
                                        type="password">
                                </div>
                            </div>
                            <div class="demoTable">
                                确认密码：
                                <div class="layui-inline">
                                    <input class="layui-input" name="checkpassword" id="checkpassword"
                                        autocomplete="off" type="password">
                                </div>
                            </div>
                            <!-- 提交 -->
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit lay-filter="formDemo">提交</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script type="text/html" id="toolBar">
        <a class="layui-icon tools" lay-event="edit">&#xe642;</a>
        <a class="layui-icon tools" lay-event="del">&#xe640;</a>
    </script>
    <script type="text/html" id="addTool">
        <a class="layui-icon tools" lay-event="add">&#xe654;</a>
    </script>
    <script src="../../layuiadmin/layui/layui.js"></script>
    <script>
        layui.config({
            base: '../../layuiadmin/' //静态资源所在路径
        }).extend({
            cookie: 'lib/cookie' //cookie 模块
        }).use('cookie');

        layui.use(['form', 'layedit', 'laydate', 'jquery', 'cookie'], function () {
            var form = layui.form,
                layer = layui.layer,
                layedit = layui.layedit,
                laydate = layui.laydate,
                $ = layui.jquery,
                cookie = layui.cookie;

            //直接加载
            $(function () {
                if ($.cookie('userName') != null && $.cookie('userName') != 'null') {
                    //从cookie中读取用户名
                    $('#userName').text($.cookie('userName'));
                }
                alert($.cookie('userName'));
                selectByName();

            })

            function selectByName() {
                var userName = $.cookie('userName');
                $.ajax({
                    url: "http://localhost:8080/user/personalData",
                    type: 'get',
                    data: {
                        'userName': userName
                    },
                    success: function (data) {
                        $('#userName').val(data.userName);
                        $('#oldpassword1').val(data.password);
                    },
                    error: function (data) {
                        alert(data)
                    }
                });
            }

            //监听提交
            form.on('submit(formDemo)', function (data) {
                layer.alert(JSON.stringify(data.field), {
                    title: '最终的提交信息'
                })
                if (!$('#oldpassword1').val() == $('#oldpassword').val()) {
                    alert("原密码输入错误，请重新输入")
                } else {
                    if (!$('#checkpassword').val() == $('#newpassword').val()) {
                        alert("密码与确认密码不一致，请重新输入")
                    } else {
                        $.ajax({
                            // xhrFields: {
                            //         withCredentials: true,
                            // },
                            url: "http://localhost:8080/user/updateUser",
                            type: 'post',
                            data: data.field,
                            success: function (data) {
                                if (data == 1) {
                                    alert('修改密码成功，请重新登录');
                                    $.cookie("userName", null, {
                                        path: '/views'
                                    });
                                    console.log("password.html:...." + $.cookie('userName')
                                        .path);
                                    parent.location.href = "../login.html";
                                } else {
                                    alert('未知错误');
                                }
                            },
                            error: function (data) {
                                alert(data)
                            }
                        });
                    }
                }
                return false;
            });

            //原密码md5加密
            $('#oldpassword').blur(function () {
                var opassword = $('#oldpassword').val;
                $.ajax({
                    rul: "http://localhost:8080/user/switch",
                    type: 'post',
                    data: {
                        'password': opassword
                    },
                    success: function (data) {
                        $('#oldpassword').val(data);
                    },
                    error: function (data) {
                        alert("报错")
                    }
                })
            })
        });
    </script>
</body>

</html>