<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nextosd.restaurant.mapper.MenuMapperBack">

	<resultMap type="com.nextosd.restaurant.beans.Menu" id="MENU">
		<id column="food_id" property="foodId"/>
		<result column="food_name" property="foodName"/>
		<result column="food_type" property="foodType"/>
		<result column="food_price" property="foodPrice"/>
		<result column="food_num" property="foodNum"/>
	</resultMap>
	
	<select id="selectAllFoods" resultMap="MENU">
		select 
			food_id,
			food_name,
			food_type,
			food_price,
			food_num
		from 
			tbl_menu
	</select>
	
	<select id="selectLimitFoods" parameterType="com.nextosd.restaurant.beans.other.BaseBean" resultMap="MENU">
		select 
			food_id,
			food_name,
			food_type,
			food_price,
			food_num
		from 
			tbl_menu 
		limit 
			#{page},#{limit}
	</select>
	
	<select id="selectFoodsLikeFoodName" parameterType="java.lang.String" resultMap="MENU">
		select 
			food_id,
			food_name,
			food_type,
			food_price,
			food_num
		from 
			tbl_menu 
		where 
			food_name 
		like 
			#{foodName}
	</select>
	
	<select id="selectMenuByFoodId" resultMap="MENU">
		select 
			food_id,
			food_name,
			food_type,
			food_price,
			food_num
		from 
			tbl_menu 
		where 
			food_id = #{foodId}
	</select>
	
	<insert id="insertFood" parameterType="com.nextosd.restaurant.beans.Menu">
		insert 
			into
		menu(
			food_name,
			food_type,
			food_price,
			food_num
		)
		values(
			#{foodName},
			#{foodType},
			#{foodPrice},
			#{foodNum}
		)
	</insert>
	
	<update id="updateFood" parameterType="com.nextosd.restaurant.beans.Menu">
		update 
			tbl_menu
		set 
			food_name = #{foodName},
			food_type = #{foodType},
			food_price = #{foodPrice},
			food_num = #{foodNum}
		where 
			food_id = #{foodId}
	</update>
	
	<delete id="deleteFoodByFoodId">
		delete 
			from 
		menu 
			where 
		food_id = #{foodId}
	</delete>
	
	<select id="selectFoodsByFoodType" parameterType="java.lang.String" resultMap="MENU">
		select 
			food_id,
			food_name,
			food_type,
			food_price,
			food_num
		from 
			menu 
		where 
			food_type = #{foodType}
	</select>
	
	<update id="updateFoodNumByFoodId">
		update 
			tbl_menu 
		set 
			food_num = #{foodNum} 
		where 
			food_id = #{foodId}
	</update>
	
	<select id="selectAllFoodTypes" resultType="java.lang.String">
		SELECT DISTINCT
			food_type
		FROM
			tbl_menu;
	</select>

	
</mapper>