<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/registered.css" media="all">
</head>

<body>
  <form class="layui-form" action="" method="post">
    <div class="container">
      <button class="close" title="关闭">X</button>
      <div class="layui-form-mid layui-word-aux">
        <div id="logoid">用户注册</div>
      </div>
      <!-- 用户名 -->
      <div class="layui-form-item">
        <label class="layui-form-label">用户名</label>
        <div class="layui-input-block">
          <input type="text" name="title" required lay-verify="required" placeholder="请输入用户名" autocomplete="off"
            class="layui-input" lay-reqtext="请输入用户名" maxlength="8">
        </div>
      </div>
      <!-- 密码 -->
      <div class="layui-form-item">
        <label class="layui-form-label">密 &nbsp;&nbsp; 码</label>
        <div class="layui-input-inline">
          <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off"
            class="layui-input" lay-reqtext="请输入密码" maxlength="15">
        </div>
      </div>
      <!-- 确认密码 -->
      <div class="layui-form-item">
        <label class="layui-form-label">确认密码</label>
        <div class="layui-input-inline">
          <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off"
            class="layui-input" lay-reqtext="请输入密码" maxlength="15">
        </div>
      </div>
      <!-- 验证码 -->
      <div class="layui-form-item">
        <label class="layui-form-label">验证码</label>
        <div class="layui-input-inline" style="float: left;">
          <input type="text" name="title" required lay-verify="required" placeholder="请输入验证码" autocomplete="off"
            class="layui-input verity" lay-reqtext="请输入验证码" maxlength="6">
        </div>
        <div style="float: left;">
          <input type="button" name="checkNum" id="checkNum" value="验证码">
        </div>
      </div>
      <!-- 同意服务条款 -->
      <div class="layui-form-item">
        <div class="layui-input-block">
          <input type="checkbox" class="layui-input-inline" name="rule" lay-skin="primary" title="我已阅读并同意"
            style="float: left;">
          <a href="#"
            style="color: cornflowerblue; margin-left: 0px; float: left; margin-left: 130px; margin-top: -18px;"
            class="font-set">XXX服务条款</a>
        </div>
      </div>
      <!-- 提交 -->
      <div class="layui-form-item">
        <div class="layui-input-block">
          <button class="layui-btn" lay-submit lay-filter="formDemo">登陆</button>
        </div>
      </div>
      <a href="#" class="font-set">忘记密码?</a> <a href="#" class="font-set">立即注册</a>
    </div>
  </form>
  <script src="../../layuiadmin/layui/layui.js"></script>
  <script>
    layui.use(['form', 'layedit', 'laydate'], function () {
      var form = layui.form,
        layer = layui.layer,
        layedit = layui.layedit,
        laydate = layui.laydate;

      //监听提交
      form.on('submit(demo1)', function (data) {
        layer.alert(JSON.stringify(data.field), {
          title: '最终的提交信息'
        })
        return false;
      });
    });
  </script>
</body>

</html>