<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nextosd.restaurant.mapper.ShoppingCarMapperBack">

	<resultMap type="com.nextosd.restaurant.beans.ShoppingCar" id="SHOPPINGCAR">
		<id column="car_id" property="carId"/>
		<result column="car_user_id" property="carUserId"/>
		<result column="car_user_name" property="carUserName"/>
		<result column="car_food_id" property="carFoodId"/>
		<result column="car_food_name" property="carFoodName"/>
		<result column="car_food_num" property="carFoodNum"/>
		<result column="car_one_price" property="carOnePrice"/>
		<result column="car_all_price" property="carAllPrice"/>
	</resultMap>

	<insert id="insertCarMsg" parameterType="com.nextosd.restaurant.beans.ShoppingCar">
		INSERT INTO tbl_shopping_car (
			car_user_id,
			car_user_name,
			car_food_id,
			car_food_name,
			car_food_num,
			car_one_price,
			car_all_price
		)
		VALUES(
			#{carUserId},
			#{carUserName},
			#{carFoodId},
			#{carFoodName},
			1,
			#{carOnePrice},
			#{carOnePrice}
		)
	</insert>
	
	<select id="getShoppingCarCount" resultType="Integer">
		SELECT
			sum(car_food_num)
		FROM
			tbl_shopping_car
	</select>
	
	<select id="getShoppingCarMsg" resultMap="SHOPPINGCAR">
		select
			car_id,
			car_user_id,
			car_user_name,
			car_food_id,
			car_food_name,
			car_food_num,
			car_one_price,
			car_all_price
		from
			tbl_shopping_car
	</select>
	
	<select id="selectMsgByFoodId" resultMap="SHOPPINGCAR">
		select
			car_id,
			car_user_id,
			car_user_name,
			car_food_id,
			car_food_name,
			car_food_num,
			car_one_price,
			car_all_price
		from
			tbl_shopping_car
		where
			car_food_id = #{carFoodId}
		and
			car_user_id = #{carUserId}
	</select>

	<update id="updShoppingCarMsg" parameterType="com.nextosd.restaurant.beans.ShoppingCar">
		UPDATE 
			tbl_shopping_car
		SET 
			car_food_num = #{carFoodNum},
			car_all_price = #{carAllPrice}
		WHERE
			car_id = #{carId}
	</update>
	
	<delete id="deleteShoppingMsg">
		DELETE FROM
			tbl_shopping_car
		WHERE
			car_id = #{carId}
	</delete>
	




</mapper>