<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nextosd.restaurant.mapper.ShoppingCarMapperBack">

	<resultMap type="com.nextosd.restaurant.beans.ShoppingCar" id="ShoppingCar">
		<id column="car_id" property="carId"/>
		<result column="car_user_id" property="carUserId"/>
		<result column="car_food_id" property="carFoodId"/>
		<result column="car_food_name" property="carFoodName"/>
		<result column="car_food_num" property="carFoodNum"/>
		<result column="car_one_price" property="carOnePrice"/>
		<result column="car_all_price" property="carAllPrice"/>
	</resultMap>

	<insert id="insertCarMsg" parameterType="com.nextosd.restaurant.beans.ShoppingCar">
		INSERT INTO tbl_shopping_car (
			car_user_id,
			car_food_id,
			car_food_name,
			car_food_num,
			car_one_price,
			car_all_price
		)
		VALUES(
			#{carUserId},
			#{carFoodId},
			#{carFoodName},
			1,
			#{carOnePrice},
			#{carOnePrice}
		)
	</insert>





</mapper>